# [DAP-003] .env.example

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=data_api_pipeline
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

LATITUDE=-23.5505
LONGITUDE=-46.6333
CITY_NAME=Sao Paulo
START_DATE=2025-01-01
END_DATE=2025-01-31